.ContainerCuerpo{
    display: flex;
    justify-content: space-between;
    background-color: #7DB0B5;
    width: 100%;
    height: auto;
    font-size: 30px;
    
}


#image2{ 
    width: 180px;
    box-shadow: 3px 3px 5px 3px #000;
}




