.ContainerFooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #608C97;
    color: black;
    background-size: contain;

}



#image3{ 
    width: 180px;
    height: 200px;
    box-shadow: 3px 3px 5px 3px #000;
}


